streamlit
requests
langchain
langchain-groq
langchain-community
langchain-core
sentence-transformers
scikit-learn
tiktoken
python-dotenv
beautifulsoup4
faiss-cpu
geopy
googlemaps
wikipedia-api
transformers
torch
folium
streamlit-folium
PyPDF2
pandas
scipy
numpy
grpcio
